body {
    background: url(absolutvision-82TpEld0_e4-unsplash.jpg) /*no-repeat center center fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Lato';
    color: whitesmoke;
  }

.handfont {
    font-family:'Patrick Hand'; 
    color: whitesmoke;
    background-color: transparent;
    

}

#itemcards {
    font-family: 'Lato';
    color: whitesmoke;

}
.text-center-up{
    text-align: center;
    }





